<!-- introduction -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].introduction.section | default: "introduction" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase" style="margin-bottom: 1.5rem;">{{ site.data.sitetext[site.locale].introduction.title | default: "introduction" }}</h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-5 text-center">
        <img src="assets/img/me.png" alt="Portrait of Sophie Vuillemin" class="img-fluid rounded-circle" style="max-width: 80%; box-shadow: 0 0 15px rgba(0,0,0,0.1);">
      </div>

      <div class="col-md-7">
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].introduction.text | default: "" }}</h3>
        <div class="large text-muted">{{ site.data.sitetext[site.locale].introduction.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.introduction.section | default: "introduction" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"  style="margin-bottom: 1.5rem;">{{ site.data.sitetext.introduction.title | default: "introduction" }}</h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-5 text-center">
        <img src="assets/img/me.png" alt="Portrait of Sophie Vuillemin" class="img-fluid rounded-circle" style="max-width: 80%; box-shadow: 0 0 15px rgba(0,0,0,0.1);">
      </div>
      <div class="col-md-7">
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.introduction.text | default: "" }}</h3>
        <div class="large text-muted">{{ site.data.sitetext.introduction.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End introduction -->